/* Padding styles */
.p-b-s {
    padding-bottom: 0.5rem;
}

.p-b-m {
    padding-bottom: 1rem;
}

.p-b-l {
    padding-bottom: 1.5rem;
}

.p-t-s {
    padding-top: 0.5rem;
}

.p-t-m {
    padding-top: 1rem;
}

.p-t-l {
    padding-top: 1.5rem;
}

.p-t-xl {
    padding-top: 3rem;
}

/* Margin styles */
.m-b-s {
    margin-bottom: 0.5rem;
}

.m-b-m {
    margin-bottom: 1rem;
}

.m-b-l {
    margin-bottom: 1.5rem;
}

.m-b-xl {
    margin-bottom: 3rem;
}

.m-b-xxl {
    margin-bottom: 5rem;
}

.m-t-s {
    margin-top: 0.5rem;
}

.m-t-m {
    margin-top: 1rem;
}

.m-t-l {
    margin-top: 1.5rem;
}

.m-t-xl {
    margin-top: 3rem;
}
