@font-face {
    font-family: 'Avenir';
    src: url("fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: 'Aleo';
    src: url("fonts/Aleo/Aleo-Regular.otf") format("opentype");
}

html, body {
    background: #F7F7F7;
    font-size: 1.8rem;
    font-family: Avenir;
    color: #575757;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    overflow-x: hidden;
    position: relative;
}

@media (max-width: 1200px) {
    #mlh-trust-badge {
        position: absolute !important;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 575.98px) {
    html { font-size: 55%; }

    #mce-EMAIL {
        width: 80% !important;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    html { font-size: 58%; }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    html { font-size: 60%; }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .small-screen-break { display: none; }
    html { font-size: 62.5%; }
}
@media (min-width: 1200px) {
    .small-screen-break { display: none; }
    html { font-size: 62.5%; }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #171717;
    }

    p, a, h2 {
        color: #DDDDDD !important;
    }

    footer {
        color: #606060;
        background: #1F1F1F;
    }

    footer a:link, footer a:visited {
        color: #DDDDDD;
    }

    #mce-EMAIL {
        color: #DDDDDD;
        background: #131313;
        border-color: #323232;
    }

    #mce-EMAIL::placeholder {
        color: #DDDDDD;
    }
}

.container {
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.aleo {
    font-family: Aleo;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Aleo;
    font-weight: bold;
}

p, a {
    color: #575757;
    text-decoration: none;
}

#body-text {
    margin: auto;
    padding: 3rem 1rem;
    max-width: 55rem;
}

h1 {
    color: #FF6F3F;
    font-size: 5rem;
    line-height: 6rem;
}

h2 {
    color: #575757;
}

#mlh-trust-badge {
    display:block;
    max-width:100px;
    min-width:60px;
    position:fixed;
    right:50px;
    top:0;
    width:10%;
    z-index:10000
}
    #mlh-trust-badge:hover {
        filter: brightness(120%);
    }

.logo-box img.logo {
    width: 8rem;
    height: 8rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

footer {
    color: #B2B2B2;
    background: #F2F2F2;

    padding: 20px 0px 20px 0px;
    height: 120px;

    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

}

    footer a {
        color: #595959;
        border-bottom: 0px;

        transition: border-bottom 2s;
    }

    footer a:hover {
        border-bottom: 1px solid #595959;
        transition: border-bottom 2s;
    }

.border-right {
    border-right: 1px solid #B2B2B2;
    padding-right: 3px;
}

#mce-EMAIL {
    color: #575757;
    background: #FFFFFF;

    border: 2px solid #C7C7C7;
    border-radius: 30px;

    padding: 12px;
    margin-right: 10px;

    width: 300px;

    font-family: 'Avenir';
    font-weight: 500;
    vertical-align: text-bottom;
    line-height: 1.5;
}

    #mce-EMAIL::placeholder {
        color: #C7C7C7;
    }

    #mce-EMAIL:focus {
        border: 2px solid #FF6F3F;
        box-shadow: 0 0 10px #FF6F3F59; /* RRGGBBAA - 59 is 35% opacity */
    }

#mc-embedded-subscribe {
    color: #FFFFFF;
    background: #FF6F3F;

    border: 2px solid #FF6F3F;
    border-radius: 30px;
    padding: 14px;

    width: 130px;

    font-family: 'Avenir';
    font-weight: 900;
    vertical-align: text-bottom;
    line-height: 1.5;

    transition: opacity .2s;
}

#mc-embedded-subscribe:disabled {
    opacity: .5;
    transition: opacity .2s;
}

#social {
    padding-top: 32px;
    height: 58px;
}

    .social-icon {
        width: 42px;
        height: 42px;

        padding: 4px;

        opacity: .5;
        transition: opacity .2s, padding .2s, width .2s, height .2s
    }

    .social-icon:hover {
        width: 50px;
        height: 50px;

        padding: 0px;

        opacity: 1;
        transition: opacity .2s, padding .2s, width .2s, height .2s
    }

#past {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

#past-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1000px;
    margin: auto;
}

    .event {
        width: 420px;
        height: 280px;
        margin: 20px;

        color: white;
        text-align: left;

        border-radius: 35px;

        background-size: cover !important; /* !important so we don't have to repeat*/
        box-shadow: 0px, 0px, 20px, 0px rgba(0,0,0,0.2);
        position: relative;
    }

    .event a {
        color: white;

    }

    #event-2019 { background: no-repeat center center url('./img/thumbnails/2019-thumb.jpg'); }
    #event-2018 { background: no-repeat center center url('./img/thumbnails/2018-thumb.jpg'); }
    #event-2017 { background: no-repeat center center url('./img/thumbnails/2017-thumb.jpg'); }
    #event-2016 { background: no-repeat center center url('./img/thumbnails/2016-thumb.jpg'); }
    #event-2015 { background: no-repeat center center url('./img/thumbnails/2015-thumb.jpg'); }
    #event-2014 { background: no-repeat center center url('./img/thumbnails/2014-thumb.jpg'); }

    .event-text {
        position: absolute;
        bottom: 0;

        padding: 0px 0px 40px 40px;
    }

    .event-text h3 {
        font-family: Avenir;
        font-weight: 900;
    }

    .event-theme {
        font-family: Aleo;
        font-weight: bold;
        font-size: 3rem;
    }

    .filler {
        width: 100%;
        height: 100%;

        border-radius: 35px;
        transition: .4s;
    }

    .filler:hover{
        background: rgba(0, 0, 0, 0.50);
        transition: .4s;
    }

#confirmation {
    display: none;
    color: #009051;
    font-family: Avenir;
    font-weight: 900;

    line-height: 24px;
    font-size: 24px;
}

#confirmation img {
    width: 24px;
    height: 24px;
}