@font-face {
    font-family: Avenir;
    src: url("fonts/Avenir/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: Aleo;
    src: url("fonts/Aleo/Aleo-Regular.otf") format("opentype");
}

html, body {
    background: F7F7F7;
    font-size: 1.8rem;
    font-family: Avenir;
    color: #1A2E33;
    line-height: 1.5;
}

body {
    overflow-x: hidden;
}

@media (max-width: 575.98px) {
    html { font-size: 55%; }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    html { font-size: 58%; }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    html { font-size: 60%; }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .small-screen-break { display: none; }
    html { font-size: 62.5%; }
}
@media (min-width: 1200px) {
    .small-screen-break { display: none; }
    html { font-size: 62.5%; }
}

.container {
    width: 100vw;
    height: 90vh;
    padding-top: 10vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.aleo {
    font-family: Aleo;
}

.text-white {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: Aleo;
    font-weight: bold;
}

p, a {
    color: #1A2E33;
    text-decoration: none;
}

#body-text {
    margin: auto;
    padding: 3rem 1rem;
    max-width: 55rem;
}

h1 {
    color: #FF6F3F;
    font-size: 5rem;
}

h2 {
    color: #575757;
}

#mlh-trust-badge {
    display: block;
    max-width: 8rem;
    min-width: 4em;
    position: absolute;
    right: 4rem;
    top: -0.1rem;
    width: 10%;
    transition: ease all .2s;
    z-index: 100;
}
    #mlh-trust-badge:hover {
        filter: brightness(120%);
    }

.logo-box img.logo {
    width: 8rem;
    height: 8rem;
}

footer {
    color: #B2B2B2;
    background: #F2F2F2;

    padding: 10px;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-around;

}

    footer a {
        color: #595959
    }

    footer a:hover {
        text-decoration: underline;
    }

.border-right {
    border-right: 1px solid #B2B2B2;
    padding-right: 3px;
}

#email {
    color: #575757;
    background: #FFFFFF;

    border: 2px solid #C7C7C7;
    border-radius: 30px;

    padding: 12px;

    width: 300px;
}

    #email::placeholder {
        color: #C7C7C7;
    }

    #email:focus {
        border: 2px solid #FF6F3F;
        box-shadow: 0 0 10px #FF6F3F59; /* RRGGBBAA - 59 is 35% opacity */
    }

#submit {
    color: #FFFFFF;
    background: #FF6F3F;

    border: 2px solid #FF6F3F;
    border-radius: 30px;
    padding: 14px;

    width: 130px;

    font-weight: bold;
}

#social {
    padding-top: 32px;
    height: 64px;
}

    .social-icon {
        width: 42px;
        height: 42px;

        padding: 11px 11px 11px 11px;

        opacity: .5;
    }

    .social-icon:hover {
        width: 64px;
        height: 64px;

        padding: 0px;

        opacity: 1;
    }

#past {
    margin-top: 4rem;
}

#past-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1000px;
    margin: auto;
}

    .event {
        width: 450px;
        height: 300px;
        margin: 20px;

        color: white;
        text-align: left;
        position: relative;

        border-radius: 35px;

        background-size: contain !important; /* !important so we don't have to repeat*/
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    #event-2019 { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, 0.65) 100%), url('./img/thumbnails/2019-thumb.jpg'); }
    #event-2018 { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, 0.65) 100%), url('./img/thumbnails/2018-thumb.jpg'); }
    #event-2017 { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, 0.65) 100%), url('./img/thumbnails/2017-thumb.jpg'); }
    #event-2016 { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, 0.65) 100%), url('./img/thumbnails/2016-thumb.jpg'); }
    #event-2015 { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, 0.65) 100%), url('./img/thumbnails/2015-thumb.jpg'); }
    #event-2014 { background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 59%, rgba(0, 0, 0, 0.65) 100%), url('./img/thumbnails/2014-thumb.jpg'); }

    .event-text {
        position: absolute;
        bottom: 0;

        padding: 0px 0px 40px 40px;
    }

    .event-text h3 {
        font-weight: 900;
    }

    .event-title {
        font-weight: bold;
        font-size: 3rem;
    }